/* Directly apply British Racing Green color */
a {
  color: #004B36;
}

a:hover,
a:focus {
  color: #2C7B63;
}

header {
  background-color: #004B36;
}

footer {
  background-color: #004B36;
}

button, input[type="submit"], input[type="button"] {
  background-color: #004B36;
  color: white;
  border: none;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #2C7B63;
}
