<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body class="{% if page.title == 'Portfolio' %}landing-page{% elsif page.title == 'Photography' %}photography-page{% elsif page.title == 'Urban' %}urban-page{% endif %}">

  <!-- Navbar Section -->
  <nav class="navbar">  
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/photography/">Photography</a></li>
      <li><a href="/artwork/">Artwork</a></li>
      <li><a href="/music/">Music (Soon)</a></li>
    </ul>
  </nav>

  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 Map Wall Ironies</p>
  </footer>

    <!-- Fullscreen Image Modal -->
  <div class="modal">
    <img class="modal-content" id="fullscreenImage">
    <div class="watermark">© William Pearson | Map Wall Ironies</div>
    <span class="close">&times;</span>
  </div>

  <!-- JavaScript file -->
  <script src="/assets/js/script.js"></script>

</body>
</html>
